@page
@model IndexModel
@{
    ViewData["Title"] = "Чатик";
}



<div class="container text-center" id="welcome">
    <h1 class="display-4">Welcome</h1>
    <p>Введите ваше имя для входа в чат:</p>
    <input type="text" id="userInput" class="form-control mb-3">
    <button class="button" onclick="startChat()">Войти</button>
</div>


<div class="container">
    <div id="chatDiv" style="display: none;">
        <h1 class="display-4">Чатик</h1>
        <ul class="messagesList" id="messagesList"></ul>
        <div class="d-flex">
            <input type="text" id="messageInput" class="form-control">
            <button class="button ml-2" onclick="sendMessage()">Отправить</button>
        </div>
    </div>

    <div id="participantsPanel" class="mt-3" style="display: none;">
        <h4>Список участников</h4>
        <ul id="participantsList"></ul>
    </div>
</div>


